[build]
  publish = "."

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"

[[redirects]]
  from = "/privacy"
  to = "https://biopicstudios.com/privacy"
  status = 301

[[redirects]]
  from = "/terms"
  to = "https://biopicstudios.com/terms"
  status = 301
